<!-- template: module -->

<div id="documentation">

  <div id="description">
    {{#unless_header}}
      <h1>{{name}}</h1>
    {{/unless_header}}
    {{markup comment format}}
  </div>

  <!-- Parent Class -->
  {{#if_class}}
  <div id="parent-class-section" class="section">
    <h3 class="section-header">Parent</h3>
    <ul>
      {{#if superclass}}
        <li class="class">
          <!-- TODO: if id exists -->
          <a href="#{{calc_id superclass}}">{{superclass}}</a>
        </li>
      {{/if}}
    </ul>
  </div>
  {{/if_class}}

  <!-- Namespace Contents -->
  {{#if_namespaces}}
  <div id="namespace-list-section" class="section">
    <h3 class="section-header">Namespace</h3>
    <ul class="link-list">
      {{#doc modules}}
        <li class="{{[!]}}"><a href="#{{id}}">{{name}}</a></li>
      {{/doc}}

      {{#doc classes}}
        <li class="{{[!]}}"><a href="#{{id}}">{{name}}</a></li>
      {{/doc}}
    </ul>
  </div>
  {{/if_namespaces}}

  <!-- Included Modules -->
  {{#if includes.length}}
  <div id="includes-section" class="section">
    <h3 class="section-header">Included Modules</h3>
    <ul class="link-list">
    {{#doc includes}}
      <li><a href="#{{id}}">{{name}}</a></li>
    {{/doc}}
    </ul>
  </div>
  {{/if}}

  <!-- Extension Modules -->
  {{#if extensions.length}}
  <div id="extensions-section" class="section">
    <h3 class="section-header">Extension Modules</h3>
    <ul class="link-list">
    {{#doc extensions}}
      <li><a href="#{{id}}">{{name}}</a></li>
    {{/doc}}
    </ul>
  </div>
  {{/if}}

  <!-- Constants -->
  {{#if constants.length}}
  <div id="constants-list" class="section">
    <h3 class="section-header">Constants</h3>
    <dl>
    {{#doc constants}}
      <dt><a name="{{id}}" href="#{{id}}">{{name}}</a></dt>
      <dd class="description">{{comment}}</dd>
    {{/doc}}
    </dl>
  </div>
  {{/if}}

  <!-- Attributes -->
  {{#if accessors.length}}
  <div id="attributes-list" class="method-section section">
    <h3 class="section-header">Attributes</h3>

    {{#each accessors}}
      {{#reader}}
        <div id="{{id}}" class="method-detail">
          <a name="{{id}}"></a>
          <div class="method-heading">
            <a href="{{calc_method_href}}" class="method-name">{{name}}</a>
          </div>
          <div class="method-description">
            <p>{{comment}}</p>
          </div>
        </div>
      {{/reader}}

      {{#writer}}
        <div id="{{id}}" class="method-detail">
          <a name="{{id}}"></a>
          <div class="method-heading">
            <a href="{{calc_method_href}}" class="method-name">{{name}}</a>
          </div>
          <div class="method-description">
            <p>{{comment}}</p>
          </div>
        </div>
      {{/writer}}
    {{/each}}
  </div>
  {{/if}}

  <!-- Methods -->
  {{#methods_categorized}}
  <div id="methods" class="method-section section">
    {{#if_methods_by "class" "public"}}
    <div id="public-class-method-details" class="class-method-list">
      <h3 class="section-header">Public Class Methods</h3>
      {{#methods_by "class" "public"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}

    {{#if_methods_by "class" "private"}}
    <div id="private-class-method-details" class="class-method-list">
      <h3 class="section-header">Private Class Methods</h3>
      {{#methods_by "class" "private"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}

    {{#if_methods_by "class" "protected"}}
    <div id="protected-class-method-details" class="class-method-list">
      <h3 class="section-header">Protected Class Methods</h3>
      {{#methods_by "class" "protected"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}

    {{#if_methods_by "instance" "public"}}
    <div id="public-instance-method-details" class="instance-method-list">
      <h3 class="section-header">Public Instance Methods</h3>
      {{#methods_by "instance" "public"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}

    {{#if_methods_by "instance" "private"}}
    <div id="private-instance-method-details" class="instance-method-list">
      <h3 class="section-header">Private Instance Methods</h3>
      {{#methods_by "instance" "private"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}

    {{#if_methods_by "instance" "protected"}}
    <div id="protected-instance-method-details" class="instance-method-list">
      <h3 class="section-header">Protected Instance Methods</h3>
      {{#methods_by "instance" "protected"}}
        {{> method}}
      {{/methods_by}}
    </div>
    {{/if_methods_by}}
  </div>
  {{/methods_categorized}}

  <!-- In Files -->
  <div id="file-list-section" class="section">
    <h3 class="section-header">In Files</h3>
    <div class="section-body">
      <ul>
      {{#doc files}}
        <li class="file">
          {{#if uri}}
            <a href="{{uri}}" title="{{name}}">
              {{path}}
            </a>
          {{else}}
            <a href="#{{id}}" title="{{name}}">
              {{path}}
            </a>
          {{/if}}
        </li>
      {{/doc}}
      </ul>
    </div>
  </div>

</div>
