<!-- template: method -->

<div id="{{id}}" class="method-detail {{#if is_alias_for}}method-alias{{/if}}">
  <a name="{{id}}"></a>

  <div class="method-heading" style="position: relative;">
    <!-- <span class="method-name">{{name}}</span> -->
    {{#interfaces}}
      <span class="method-callseq">{{signature}}</span>
    {{/interfaces}}
    <span class="method-click-advice">click to toggle source</span>
  </div>

  <div class="method-description">
    {{#if comment}}
      {{markup comment format}}
    {{else}}
      <p></p>
    {{/if}}

    <div class="method-source-code" id="{{id}}-source">
      <pre>
        {{source}}
      </pre>
    </div>
  </div>

  {{#if aliases.length}}
  <div class="aliases">
    Also aliased as:
    {{#aliases}}
      <a href="#{{calc_id path}}">{{name}}</a>
    {{/aliases}}
  </div>
  {{/if}}
</div>

